.container-card {
    display: grid;
    gap: 40px;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    margin-top: 5%;
    padding: 35px;
    background: white;
    box-shadow: 5px 5px 25px #444444;
    border-radius: 15px;
    text-align: center;
    height: 80%;
    margin-bottom: 5%;
}

.condition-img {
    width: 200px;
    border-radius: 50%;
}

img {
    width: 100%;
    width: 200px;
    border-radius: 50%;
}

h3 {
    margin: 20px 0 0 0;
    color: black;
}

.disabled {
    opacity: 0.5;
}
